.idea/
target/
fonts

dist
.tmp

logs
project/project
project/target
target
tmp
.history
*.iml
*.DS_Store
*.log
out
.idea_modules
.classpath
.project
RUNNING_PID
.settings
.~*#

*.css
*.css.map

.ivy2